/* Add CSS Styling */
.para {
    background-color: #FF7777;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.para.large-para{
    font-size:24px;
}

#div-two {
    color:#0000FF;
    font-size:36px;
}

#div-four {
    background-color:#77FF77;
    font-size:24px;
    font-weight: bold;
}