/* Add CSS Styling */
.para {
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

.para.large-para{
    font-size:24px;
}

#div-two {
    color:blue;
    font-size:36px;
}

#div-four {
    background-color:lightgreen;
    font-size:24px;
    font-weight: bold;
}