/* Add CSS Styling */
.blackclick, 
.yellowclick {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.blackclick {
    background-color: black;
    color: white;
}

.yellowclick {
    background-color: yellow;
}